<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('style'); %>
</head>

<body>

    <main>
        <div class="container">
        <h1 class="h1">Informazioni</h1>
        <form action="/gestioneAccount/aggiorna" method="POST">
            <table class="center" style="font-size: 70%; width: 100%;">
                <tr>
                    <td>
                        <label for="firstName">Nome</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="padding">
                            
                            <input class="b" type="text" style="width: 30%;" id="firstName" 
                                placeholder="Inserisci il Nome" name="nome" value="<%=utente[0].nome %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lastName">Cognome</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="padding">
                            
                            <input class="b" type="text" style="width: 30%;" id="lastName" 
                                placeholder="Inserisci il Cognome" name="cognome" value="<%=utente[0].cognome  %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="exampleInputDataNascita">Data di nascita</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="padding">
                            
                            <input class="b" type="date" style="width: 30%;" id="exampleInputDataNascita" 
                                name="dataNascita" placeholder="Inserisci Data di Nascita" value="<%=utente[0].data_di_nascita %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="exampleInputEmail1">Email</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="padding">
                            
                            <input class="b" type="email" style="width: 30%;" id="exampleInputEmail1" 
                                name="email" placeholder="Inserisci Indirizzo Email" value="<%=utente[0].email %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="exampleInputNumeroTelefono">Numero di telefono</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="padding">
                            
                            <input class="b" type="text" style="width: 30%;" id="exampleInputNumeroTelefono" 
                                name="telefono" placeholder="Inserisci Numero di telefono" value="<%=utente[0].numero_telefono %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr style="padding-top: 50%;">
                    <td>
                        <button type="submit" class="bottone">Aggiorna</button>
                    </td>
                </tr>
            </table>    
        </form>
    </main>

</body>

</html>