<!DOCTYPE html>
<html>
    <head>
        <meta content="../img/1.ico">
        <%- include('style');%>
        <link rel="icon" type="image/x-icon" href="../img/1.ico" >
    </head>
    <body>
        <div >
        <h1  class="h1" type="text" >Book&Party</h1>
        </div>
    <div class="center">
        <table style="width: 100%;">
           <tr>
               <th>
                   <td class="e">
                       <%=rows[0].citta%>
                   </td>
               </th>
               <th>
                   <td class="e">
                    <%=rows[0].data%>
                   </td>
               </th>
               <th>
                    <td class="e">
                     <%=rows[0].np%> persone
                    </td>
            </th>
        </table>
    </div>    
    <div class="padding">
        <input  type="text" class="a" value="Filtri">
    </div>
    
        <div style="text-align: left;" class="padding"> <input type="text" class="b" value="<%=r[0].num%> locali trovati"> </div>
   
          
           <%rows.forEach(rows=>{%>
            <a href="tipologie" style="color:black">
                <div class="padding">
                    <table class="c">
                            <tr>
                                <td class="table">
                                    <img src="/../img/<%=rows.id_locale%>.jpg" >
                                </td>
                                <td style="min-width: 150px; display: inline-block;">
                                <table style="font-size: 250%;">
                                    <tr>
                                        <td style="font-size: 300%;"><%=rows.nome_locale%></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 200%;"><%=rows.costo%>$</td>    
                                    </tr>
                                    <tr>
                                        <td><%=rows.nome_tipologia%> - max <%=rows.np%> persone</td>                      
                                            
                                    </tr>
                                </table>  
                                </td>

                            </tr>
                    </table>
                </div>
            </a>
            <%})%>
            
        
        
            
            
       
    </body>
</html>