<!DOCTYPE html>
<html lang="en">


<body class="center">
    <h1 class="h1">INFORMAZIONI</h1>
  <header>
        <%- include('../partials/head'); %>
    </header>

    <main>
        <div class="container">
        
        <form action="/modificaTipologia/aggiorna" method="POST">
            <input type="hidden" class="form-control" id="id_tipologia" name="id_tipologia" value="<%=tipologia[0].id_tipologia %>">
            <input type="hidden" class="form-control" id="id_locale" name="id_locale" value="<%=tipologia[0].id_locale %>">
            <table style="width: 100%;" class="center">
                <tr>
                    <td style="padding: 1.4%;">
                        <label for="firstName">Nome</label><br>
                    <input type="text" class="b" style="width: 40%;" id="firstName" 
                        value="<%= tipologia[0].nome_tipologia%>" name="nome">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 1.4%;">
                        <label for="quantita">Quantità</label><br>
                        <input type="text" class="b" style="width: 40%;" id="quantita" 
                        value="<%= tipologia[0].quantita%>" name="quantita">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 1.4%;">
                        <label for="costo">Costo</label><br>
                    <input type="text" class="b" style="width: 40%;" id="costo" 
                        name="costo" value="<%= tipologia[0].costo%>">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 1.4%;">
                        <label for="nMaxPersone">Numero massimo di persone</label><br>
                    <input type="text" class="b" style="width: 40%;" id="nMaxPersone" 
                        name="nMaxPersone" value="<%= tipologia[0].numero_massimo_persone%>">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 1.4%;">
                        <div class="form-group">
                            <label for="zonaAperta">Zona aperta</label>
                            <br>
                            <% if(tipologia[0].zona_aperta == 1){%>
                              <input type="radio" id="vero" name="zona_aperta" value="1" checked>
                              <label for="vero">Sì</label>
                              <br>
                              <input type="radio" id="falso" name="zona_aperta" value="0">
                              <label for="falso">No</label>
                            <%}%>
                            <% if(tipologia[0].zona_aperta == 0){%>
                              <input type="radio" id="vero" name="zona_aperta" value="1">
                              <label for="vero">Sì</label>
                              <br>
                              <input type="radio" id="falso" name="zona_aperta" value="0" checked>
                              <label for="falso">No</label>
                            <%}%>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                <button type="submit" class="bottone">MODIFICA</button>                
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <table class="center" style="width: 80%;">
                            <tr>
                                <td>
                                <!--<button onclick="eliminaTipologia('<%= tipologia[0].id_tipologia %>', '<%= tipologia[0].id_locale %>')" class="bottone">Elimina</button>-->
                                    <a  onclick="eliminaTipologia('<%= tipologia[0].id_tipologia %>', '<%= tipologia[0].id_locale %>')">
                                        <p style="width: 200px; padding:10%" class="bottone">ELIMINA TIPOLOGIA</p>
                                    </a>
                                </td>
                                <td>
                                    <a  onclick="aggiungiServizi('<%= tipologia[0].id_tipologia %>')">
                                        <p style="width: 200px; padding:10%"  class="bottone">AGGIUNGI SERVIZI</p>
                                    </a>
                                    <!--<button onclick="aggiungiServizi('<%= tipologia[0].id_tipologia %>')" class="bottone">Aggiungi servizi</button>-->
                                </td>
                                <td>
                                    <a  onclick="elencoServizi('<%= tipologia[0].id_tipologia %>')">
                                        <p style="width: 200px; padding:10%" class="bottone">ELENCO SERVIZI</p>
                                    </a>
                                    <!--<button onclick="elencoServizi('<%= tipologia[0].id_tipologia %>')" class="bottone">Elenco servizi</button>-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
            
        </form>
        <br>
        <br><br>
        
        <br><br>  
        
    </main>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    function eliminaTipologia(id_tipologia, id_locale){
        url = '/eliminaTipologia?idT='.concat(id_tipologia).concat("&idL=").concat(id_locale)
        $.ajax({
          url : url,
          method : 'delete',
          success: function(){
                // location.reload();
                document.location.href = "/tipologie?id=".concat(id_locale);
            }
        })
    }
    function aggiungiServizi(id_tipologia){
        url = '/aggiungiServizi?id='.concat(id_tipologia)
        document.location.href=url;
    }
    function elencoServizi(id_tipologia){
        url = '/elencoServizi?id='.concat(id_tipologia)
        document.location.href=url;
    }
  </script>
</body>

</html> 