<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body class="container">

    <main>
        <div class="container">
        <h1 class="h1">INFORMAZIONI</h1>

        <%- include('../partials/head'); %>

        <form class="padding" action="/modificaLocale/aggiorna" method="POST">
            <table style="width: 100%;" class="center">
                <tr>
                    <td>
                        <input type="hidden" class="form-control" id="id_locale" name="id_locale" value="<%=locale[0].id_locale %>">
                        <div class="form-group">
                            <label for="firstName">Nome</label><br>
                            <input type="text" class="b" style="width:40%" id="firstName" 
                                name="nome" value="<%=locale[0].nome_locale %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="email">Email</label><br>
                            <input type="text" class="b" style="width:40%"  id="email" 
                                name="email" value="<%=locale[0].email %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="numero_telefono">Numero di telefono</label><br>
                            <input type="text" class="b" style="width:40%"  id="numero_telefono" 
                                name="numero_telefono" value="<%=locale[0].numero_telefono %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><br>
            <button type="submit" class="bottone">Modifica</button>
                        
                    </td>
                </tr>
            </table>           
            
        </form>
        <br>
        <table style="width: 100%;" class="center">
            <tr>
                <td>
                    <button style="min-width: 200px; min-height: 100px;" type="submit" onclick="eliminaLocale('<%= locale[0].id_locale %>')" class="bottone">Elimina</button>

                </td>
                <td>
                    <button style="min-width: 200px; min-height: 100px;" type="submit"  onclick="aggiungiTipologia('<%= locale[0].id_locale %>')" class="bottone">Aggiungi Tipologia</button>

                </td>
                <td>
                    <button style="min-width: 200px; min-height: 100px;" onclick="elencoTipologie('<%= locale[0].id_locale %>')" class="bottone">Elenco tipologie</button>

                </td>
            </tr>
        </table> 
    </main>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    function eliminaLocale(id_locale){
        url = '/eliminaLocale?id='.concat(id_locale)
        $.ajax({
          url : url,
          method : 'delete',
          success: function(){
                document.location.href = "/locali";
            }
        })
    }
    function aggiungiTipologia(id_locale){
        url = '/aggiungiTipologia?id='.concat(id_locale)
        document.location.href=url;
    }
    function elencoTipologie(id_locale){
        url = '/tipologie?id='.concat(id_locale)
        document.location.href=url;
    }
  </script>
</body>

</html> 