<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
        <h1>Informazioni</h1>
        <form action="/modificaLocale/aggiorna" method="POST">
            <input type="hidden" class="form-control" id="id_locale" name="id_locale" value="<%=locale[0].id_locale %>">
            <div class="form-group">
                <label for="firstName">Nome</label>
                <input type="text" class="form-control" id="firstName" 
                    name="nome" value="<%=locale[0].nome_locale %>">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" 
                    name="email" value="<%=locale[0].email %>">
            </div>
            <div class="form-group">
                <label for="numero_telefono">Numero di telefono</label>
                <input type="text" class="form-control" id="numero_telefono" 
                    name="numero_telefono" value="<%=locale[0].numero_telefono %>">
            </div>
            <button type="submit" class="btn btn-primary">Modifica</button>
        </form>
        <br>
        <button onclick="eliminaLocale('<%= locale[0].id_locale %>')" class="btn btn-primary">Elimina</button>
        <br><br>
        <button onclick="aggiungiTipologia('<%= locale[0].id_locale %>')" class="btn btn-primary">Aggiungi Tipologia</button>
        <br><br>  
        <button onclick="elencoTipologie('<%= locale[0].id_locale %>')" class="btn btn-primary">Elenco tipologie</button>
    </main>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    function eliminaLocale(id_locale){
        url = '/eliminaLocale?id='.concat(id_locale)
        $.ajax({
          url : url,
          method : 'delete',
          success: function(){
                document.location.href = "/locali";
            }
        })
    }
    function aggiungiTipologia(id_locale){
        url = '/aggiungiTipologia?id='.concat(id_locale)
        document.location.href=url;
    }
    function elencoTipologie(id_locale){
        url = '/tipologie?id='.concat(id_locale)
        document.location.href=url;
    }
  </script>
</body>

</html> 