<!DOCTYPE html>
<html lang="en">

<body class="container">
  
  <h1 class="h1">INFORMAZIONI</h1>
  <header>
        <%- include('../partials/head'); %>
    </header>
<br>
    <main>
        <div class="container">
        <form action="/modificaServizio/aggiorna" method="POST">
            <input type="hidden" class="form-control" id="id_servizi" name="id_servizi" value="<%=servizio[0].id_servizi %>">
            <div class="form-group">
                <label for="tipoServizio">Tipo servizio</label><br>
                  <select class="b" style="width: 40%;" name="tipoServizio" id="tipoServizio">
                  <option value="DJ" selected>DJ</option>
                  <option value="Catering">Catering</option>
                  <option value="Impianto audio">Impianto audio</option>
                </select>
            </div><br>
            <div class="form-group">
                <label for="prezzoServizio">Prezzo Servizio</label><br>
                <input type="text" class="b" style="width: 40%;" id="prezzoServizio" 
                    placeholder="Inserisci il prezzo del servizio" name="prezzoServizio" value="<%=servizio[0].prezzo_servizio %>">
            </div>
            <table style="width:40%" class="center">
              <br>
              <tr>
                <td>
                  <button style="width: 200px; padding:10%;" type="submit" class="bottone">MODIFICA</button>
                </td>
                <td>
                  <!--<button onclick="eliminaServizio('<%= servizio[0].id_servizi %>', '<%= servizio[0].id_tipologia %>')" class="btn btn-primary">Elimina</button>-->
                  <a onclick="eliminaServizio('<%= servizio[0].id_servizi %>', '<%= servizio[0].id_tipologia %>')">
                    <p style="width: 140px; padding:15%; font-family: Arial, Helvetica, sans-serif;" class="bottone">
                      ELIMINA
                    </p>
                  </a>
                </td>
              </tr>
            </table>
            
        </form>
        <br>
    </main>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      function eliminaServizio(id_servizio, id_tipologia){
        url = '/eliminaServizio?idS='.concat(id_servizio).concat('&idT=').concat(id_tipologia)
        //console.log("mh");
        $.ajax({
          url : url,
          method : 'delete',
          success: function(){
                // location.reload();
                // document.location.href = "/elencoServizi?id=".concat(id_tipologia);
          }
        })
        // document.location.href=url;
      }
    </script>
</body>

</html> 