<!DOCTYPE html>
<html>
    <head>
        <%- include('style');%>

    </head>
    <body>
    <div>
        <div >
        <h1  class="h1" type="text" >Book&Party</h1>
        </div>
    </div>  
    
    
    <!--Link home-->
    <div style="text-align: center;">
        <table style="margin: 0 auto; font-size: 80%;">
          <tr>
            <td style="min-width: 160px;">
              <b><a href="/home" style="color:purple;text-decoration: none;">Homepage</a></b>
            </td>
            <td style="min-width: 120px;">
              <a href="/profiloUtente" style="color:purple;text-decoration: none;"><b>Profilo</b></a>
            </td>
            <td style="min-width: 290px;">
              <a href="/elencopre" style="color:purple;text-decoration: none;"><b>Prenotazioni effettuate</b></a>
            </td>
            <% if(isGestoreGlobale == 1){%>
              <td style="min-width: 150px;">
                <a href="/locali" style="color:purple;text-decoration: none;"><b>Gestione locali</b></a>
              </td>
            <% } %>
          </tr>
        </table>
      </div>
    <!---->
    
    <div>
        <input  type="text" style="text-align: center; font-size: 50px; width: 98%;" class="b" value="<%=rows[0].nome_locale%>">
    </div> 
    <form method="post" action="/prenota">
        <div class="padding" style="text-align: center;"></div>
            <table class="a">
                <tr>
                    <td>Selezionare la tipologia desiderata:</td>                    
                </tr>
                <tr>
                    <td>
                        <select id="tip" name="tip" class="input" required>
                            <option></option>
                            <%rr.forEach(rr=>{%>                                              
                            <option><%=rr.nome_tipologia%> - <%=rr.costo%>$</option>
                            <%})%>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="padding" style="text-align: center;"></div>
            <table class="a">
                <tr>
                    <td>Selezionare una data:</td>                    
                </tr>
                <tr>
                    <td><input class="input" id="data" name="data" type="date" required></td>                
                </tr>
            </table>
        </div>
        <div class="padding" style="text-align: center;"></div>
            <table class="a">
                <tr>                    
                    <td>Selezionare la quantità desiderata:</td>
                </tr>
                <tr>
                    <td><input class="input" type="number" id="quantita" name="quantita" required></td>                
                </tr>
            </table>
        </div>
        
        <input  id="id_locale" name="id_locale" value="<%=rows[0].id_locale%>" style="display : none">
        <br><br>
        <button class="bottone">PRENOTA</button>
        <br>
        
    </form>
    </body>
</html>