<!DOCTYPE html>
<html>
    <head>
        <%- include('style')%>

    </head>
<body class="center">
    <br>
    <table class="a" style="font-size:70%; margin:auto;">
        <tr style="color: purple">
                <th>Nome</th>
            <th>Email</th>
            <th>Numero di telefono</th>
            <th>Citta</th>
            <th>Indirizzo</th>
        </tr>
        <% locali.forEach(locale=> { %>
            <tr style="border: 2px solid purple;" onclick="idLocale('<%= locale.id_locale %>')">
                <td>
                    <%= locale.nome_locale %>
                </td>
                <td>
                    <%= locale.email %>
                </td>
                <td>
                    <%= locale.numero_telefono %>
                </td>
                <td>
                    <%= locale.citta %>
                </td>
                <td>
                    <%= locale.indirizzo_locale %>
                </td>
            </tr>
            <% }) %> 
  </table>
</body>
</html>