<br><table style="width: 40%;" class="center">
    <thead style="color: purple;">
        <tr>
            <th>Tipo servizio</th>
            <th>Prezzo servizio</th>
          </tr>
    </thead>
    <tbody>
        <% servizi.forEach(servizio=> { %>
            <tr onclick="idServizio('<%= servizio.id_servizi %>')">
            <!-- <tr action="/modificaservizio?id='<%= servizio.id_servizio %>'" value="<%= servizio.id_servizio %>"> -->
                <td style="padding:1.4%">
                    <%= servizio.tipo_servizio %>
                </td>
                <td style="padding:1.4%">
                    <%= servizio.prezzo_servizio %>
                </td>
            </tr>
            <% }) %>
    </tbody>
  </table>